<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{asset_url}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/style.css') }}">

</head>

<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
