{% extends 'base.html.twig' %}

{% block body %}

    <div class="bloc1 text-center" style="padding: 4em 4em">
        <h2 style="text-align: center; padding-bottom: 1em">Parfait! Le questionnaire à bien été validé</h2>

        <p class="lead">D'après vos réponses et les informations saisies, voici les financements qui peuvent s'offrirent à vous :</p>



    </div>


{% endblock %}
