{% extends 'base.html.twig' %}


{% block body %}

    <div class="bloc1">
        <div class="jumbotron" style="padding-bottom: 30px">
            Félicitation! <br>

            Voici un récapitulatif de vos informations personnelles et des solutions de financement qui s'offrent à vous:
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}