{% extends 'base.html.twig' %}

{% block body %}

    <div class="bloc1" style="padding: 4em 4em">
        <h1 style="text-align: center">Dernière étape</h1>

        <h3 class="info" style="text-align: center; padding-bottom: 1em">Merci de valider vos informations personnelles</h3>

          {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}


             <div class="ma-classe-custom">


               {{ form_widget(form) }}

                 <div class="col-lg-12 text-center pt-4">
                    <button type="submit" class="btn btn-secondary" style="">Valider</button>
                 </div>

             </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
